@import "card-styles.scss";
@import "animations.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


html, body {
  font-family: helvetica;
  background-color: #4ABDAC;
  line-height: 1vw;
  letter-spacing: 0.1vw;
}
#container{
    margin-top: -5vw;
}

a{
    text-decoration: none;
    color: inherit;
}

.inlineCard {
  display: inline-flex;
  margin-left: -35vw;
  margin-top: 8vw;
  width: auto;
}

#inline {
  vertical-align: center;
}

.zilch {
  width: 12vw;

}

.target {
  height:13vw;
  width: 13vw;
  border-radius: 0px 6px 6px 6px;
  font-family: helvetica, sans-serif;

}

.earnings {
  text-align: center;
  margin-top: 1vw;
  width: 7vw;
  font-size: 1.3vw;
  height: 1.5vw;
  font-family: helvetica, sans-serif;
  padding-bottom: 2vw;
  padding-top: 0.5vw;
  vertical-align: center;
  margin-right: 3vw;


}

.Netearnings {
  width: 15vw;
  height: 3vw;
  font-size: 1vw;
  font-family: "Helvetica";
  letter-spacing: 0.2vw;
  color: white;
  background-color: #00b300;
  text-align: center;
  padding-top: 1vw;
  border-radius: 6px;
}

.cost {

  text-align: center;
  margin-top: 1vw;
  width: 7vw;
  font-size: 1.3vw;
  height: 1.5vw;
  font-family: helvetica, sans-serif;
  padding-bottom: 2vw;
  padding-top: 0.5vw;
  vertical-align: center;
  background-color: #140000;
  margin-right: 3vw;

}

.searchBarInput {
  color: black;
  border-radius: 0.2vw;
  border: solid 1px grey;
  width: 9vw;
  height: 1vw;
  padding: 0.2vw;
  font-size: 1vw;
  margin-top: 1.5vw;
}

.searchBarInput:focus {
  outline: none;
}

.searchBar {
  margin-top: 0.2vw;
}

.Button {
  color: red;
}

.backButton {
  padding: 1vw;
  color: black;
  background-color: transparent;
  letter-spacing: 0.1vw;
  border-radius: 2px;
  height: auto;
  border: none;
  font-size: 0.7vw;
  transition: 0.5s;

}

.backButton:focus {
  outline: none;
}

.backButton:active{
  outline: none;
  background-color: white;
  transition: 0.5s;
}

.cardButtons {
  text-align: center;
  width: 15vw;
  padding-left: 1vw;
}

.subcardDuration{
  font-size: 1vw;
  margin-top: -5vw;
  padding-right: 2vw;
  margin-left: -2vw;
}

.subcardButtons{
  width: 5vw;
  height: auto;
  background-color: white;
  padding: 0.5vw;
  border-radius: 0.5vw;
  font-size: 1vw;
  border: 2px darkgreen solid;
  margin-right: 4vw;
  position: relative;
  margin-left: 0.5vw;

}

.cardlabel {
  width: 12vw;
  text-align: center;
  font-size: 1.5vw;
  margin-top: -1vw;
  margin-right: 3vw;
  margin-bottom: 1vw;
}

.subcardGroup {



}

.subcardButtons:active {
  outline: none;
}

.addButton {
  background-color: white;
  padding: 0.4vw;
  border-radius: 6px;
  font-size: 1vw;
  border: 2px darkgreen solid;
  margin-top: 3vw;
  width: 3vw;
  height: 3vw;
  float: right;
  margin-right: -7vw;
  position: static;

}

div#inline.timeline {
}

.deleteButton {
  background-color: white;
  padding: 0.5vw;
  border-radius: 2vw;
  font-size: 0.7vw;
  float:left;
  border: 2px darkgreen solid;
  margin-top: -2vw;
  margin-left: -0.5vw;

}


.pageButtons {
  background-color: white;
  padding: 0.5vw;
  border-radius: 6px;
  font-size: 1vw;
  border: 2px darkgreen solid;
}

.contentcss {
  padding-top: 3vw;
  margin-top: -4vw;
  font-size: 1vw;
}

.pageButtons:active {
  outline: none;
}

.timeline{
  margin-top: 5vw;
  margin-left: 25vw;
  width: 77vw;
  overflow-y: scroll;
}

.sandboxButton {
  float:right;
  width: 9vw;
  background-color: white;
  padding: 0.5vw;
  border-radius: 6px;
  font-size: 1vw;
  border: 2px darkgreen solid;
  margin-right: 3.5vw;
  margin-top: 20px;
  z-index: 1000;
}


.timelineInfo {
  line-height: 2vw;
}

.cardBackground {
  width: 13vw;
  height: 2vw;
}

.timeHandle {
  margin-left:10vw;
}
.editableTimeline {

}

.panelpair {
  display: inline-block;
}

.inlineInfo {
  margin-top: 10vw;
}

.panels {
  position: fixed;
  z-index: 999;
}
.temporarySandbox {

}

span {
  margin-bottom: 2vw;
}

.fieldPanel {
  margin-top: -4vw;
  height: auto;
  width: 12.5vw;
  background-color: #F7B733;
  font-family: helvetica, sans-serif;
  position: sticky;
  padding-bottom: 1.5vw;
}



.careerPanel {
  margin-top: -5vw;
  height: auto;
  width: 12.5vw;
  background-color: #f77754;
  font-family: helvetica, sans-serif;
  position: sticky;
  padding-bottom: 2vw;

}

.panelpairdrawer{
  display: flex;
}

.innerFields {
    width: 12.5vw;
    background-color: #f7c665;
    overflow-y: scroll;
}

.innerCareers {
  width: 12.5vw;
  background-color: #fc9579;

}

.field {
  font-size: 1vw;
  text-align: center;
  width: 9vw;
  height: 4vw;
  background-color: #F7B733;
}

.career {
  font-size: 1vw;
  text-align: center;
  width: 9vw;
  height: 4vw;
  background-color: #f77754;

}

.careerApp {
  background-color: #4ABDAC;
  margin-top: 4vw;
}

.generateTimeline {
  background-color: #DFDCE3;
}

.header {
  padding-top: 1.5vw;
  padding-bottom: 1vw;
  font-family: helvetica, sans-serif;
  background-color: #026657;
  font-weight: bold;
  height: 5vw;
  width: auto;
}

.headertext {
  font-size: 2vw;
  font-weight: bold;
  font-family: helvetica, sans-serif;

}
.timeStamp {
  font-size: 1.2vw;
  text-align: center;
  font-weight: bolder;
  margin-left: 1vw;
  background: white;
  padding: 0.4vw;
  text-decoration: underline;
//  border: 1px solid darkgreen;
  border-radius: 0.5vw;
  width:12vw;
  box-shadow: 5px 5px 0px 0px darkgreen;
  height: 3vw;
  margin-bottom: 1vw;
}

.timeStampX {

}

.timeBar {
    line-height: 2vw;
    width: 25vw;


}

.timelineInfo {
  font-size: 1vw;
}

.timelineTitle {
  background-color: #026657;
  color: white;

}

.timelineIcon {
  background-color: #026657;
  color: white;

}

.deleteTimeline {
  font-size: 0.7vw;
  width: 5vw;
  height:2vw;
  background-color: #026657;
  color: white;

}
.cloneTimeline {
  font-size: 0.7vw;
  width: 5vw;
  height: 2vw;

  background-color: #026657;
  color: white;

}

.optionStack {
    font-size: 1vw;
    margin-left: 30vw;
    width: 15vw;

}

.optionBar {
  width: 5vw;
}

.optionBar h1 {
      font-size: 1.5vw;
      margin-bottom: 1vw;
}

.optionLabel {
    width: 5vw;
      font-size: 1vw;
}

.promptCard {
  padding-top: 4vw;
  font-size: 1vw;
}


h1 {
  font-size: 2.3vw;
  font-family: helvetica, sans-serif;
  letter-spacing: 0.3vw;
  font-weight: bold;
}

p {
  font-family: helvetica, sans-serif;
}
