@import "card-styles.scss";
@import "animations.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


html, body {
  font-family: helvetica;
  background-color: #4ABDAC;
  line-height: 150%;
  letter-spacing: 1px;
}
#container{
    margin-top: 5rem;
}

a{
    text-decoration: none;
    color: inherit;
}

.target {
  font-family: helvetica, sans-serif;

}

.earnings {
  font-family: helvetica, sans-serif;

}

.cost {
  font-family: helvetica, sans-serif;
  background-color: #140000;

}

.searchBarInput {
  color: black;
  border-radius: 4px;
  border: solid 1px grey;
  width: 150px;
  height: 25px;
  font-size: 12px;
}

.searchBarInput:focus {
  outline: none;
}

.searchBar {
  margin-top: 10px;
}

.backButton {
  padding: 10px;
  color: black;
  background-color: transparent;
  letter-spacing: 1px;
  border-radius: 2px;
  height: 2em;
  border: none;
  font-size: 15px;
  transition: 0.5s;
}

.backButton:focus {
  outline: none;
}

.backButton:active{
  outline: none;
  background-color: white;
  transition: 0.5s;
}

.cardButtons {
  text-align: center;
  width: 350px;
  padding-left: 15px;
}
.subcardDuration{
  padding-right: 20px;
    margin-left: 15px;
}
.subcardButtons{

  background-color: white;
  padding: 9px;
  border-radius: 6px;
  font-size: 12px;
  margin-right: 2px;
border: 2px darkgreen solid;
margin-top: 100px;
}

.subcardGroup {
  padding-right: 0px;
  margin-right: 10px;
  margin-top: 40px;
}

.subcardButtons:active {
  outline: none;
}

.addButton {
  background-color: white;
  padding: 5px;
  border-radius: 6px;
  font-size: 12px;
  border: 2px darkgreen solid;
  margin-top: 0px;
  width: 40px;
  float: right;
  margin-right: -65px;

}

.deleteButton {
  background-color: white;
  padding: 9px;
  border-radius: 20px;
  font-size: 12px;
  float:left;
  border: 2px darkgreen solid;
  margin-top: -15px;
  margin-left: -10px;

}



.editButton {
  background-color: white;
  padding: 9px;
  border-radius: 20px;
  font-size: 12px;
  float:right;
  border: 2px darkgreen solid;
  margin-top: -15px;
  margin-right: 120px;

}

.pageButtons {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  font-size: 11px;
  border: 2px darkgreen solid;
}

.contentcss {
  margin-bottom: -150px;
}

.pageButtons:active {
  outline: none;
}

.editableTimeline {
  padding: 50px;
  border: 2px darkgrey solid;
  font-size: 14px;
  margin: 10px;
  margin-top:40px;
}

.panelpair {
  display: inline-block;
}

.fieldPanel {
  height: 60em;
  background-color: #F7B733;
  font-family: helvetica, sans-serif;
  overflow-y: visible;
    position: sticky;
}

.temporarySandbox {
  overflow-x: hidden;
}
.careerPanel {
  height: 60em;
  background-color: #f77754;
  font-family: helvetica, sans-serif;
  overflow-y: visible;
  position: sticky;


}

.panelpairdrawer{
  display: flex;
}

.innerFields {
  height: 50em;
    background-color: #f7c665;
}

.innerCareers {
  height: 50em;
  background-color: #fc9579;
}

.field {
  height: 5em;
  background-color: #F7B733;
}

.career {
  height: 5em;
  background-color: #f77754;

}
.careerApp {
  background-color: #4ABDAC;
}

.generateTimeline {
  background-color: #DFDCE3;
}

.header {
  padding-top: 10px;
  font-family: helvetica, sans-serif;
  background-color: #026657;
  font-weight: bold;
}

.headertext {
  font-weight: bold;
  font-family: helvetica, sans-serif;
  letter-spacing: 3px;
}
.timeStamp {
  line-height: 150%;
  padding-bottom: 10px;
  margin-left: 60px;
}

.timeBar {
    line-height: 200%;
}

.timelineInfo {
  font-size: 0.9em;
}

.timelineTitle {
  background-color: #026657;
  color: white;

}

.timelineIcon {

  background-color: #026657;
  color: white;

}

.deleteTimeline {
  background-color: #026657;
color: white;

}
.cloneTimeline {
  background-color: #026657;
  color: white;

}

.optionStack {
    font-size: 1em;

}

.optionBar h1 {
      font-size: 1.1em;
      margin-bottom: 1.5em;
}

.optionLabel {
      font-size: 0.8em;
}


h1 {
  font-family: helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}

p {
  font-family: helvetica, sans-serif;
}
